{{ form_start(form) }}
<div class="form-group">
    {{ form_row(form.title, {label_attr: {class: 'form-group form-control'} } ) }}
</div>
<div class="form-group">
    {{ form_row(form.description, {label_attr: {class: 'form-group form-control'} } ) }}
</div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
