{% extends 'base.html.twig' %}

{% block title %}Meeting index{% endblock %}

{% block body %}

    <section id="intro">
        <div class="intro-container wow fadeIn">
            <h1 class="mb-4 pb-0">Rate and share your best <br><span>Meetings</span></h1>
        </div>
    </section>

        <section id="schedule" class="section-with-bg">
            <div class="container-fluid">
            <h1>Meeting index</h1>

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Vote</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for meeting in meetings %}
                    <tr>
                        <th scope="row">{{ meeting.id }}</th>
                        <th>{{ meeting.title }}</th>
                        <th>{{ meeting.description }}</th>
                        <th>
                            <div class='starrr' id='star1'></div>
                            <div>
                                <span class='your-choice-was' style='display: none;'>
                                    Your rating was <span class='choice'></span>.
                                </span>
                            </div>
                        </th>
                        <th>

                            <a class="btn btn-warning" href="{{ path('meeting_edit', {'id': meeting.id}) }}">edit</a>
                            <form method="post" action="{{ path('meeting_delete', {'id': meeting.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ meeting.id) }}">
                                <button class="btn btn-danger">Delete</button>
                            </form>

                        </th>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-danger" href="{{ path('meeting_new') }}">Create new</a>
            </div>
        </section>

{% endblock %}
