{% extends 'base.html.twig' %}

{% block title %}Meeting{% endblock %}

{% block body %}

    <section id="intro">
        <div class="intro-container wow fadeIn">
            <h1 class="mb-4 pb-0">Rate and share your best <br><span>Meetings</span></h1>
        </div>
    </section>


    <h1>Meeting</h1>
    <div class="container-fluid">

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ meeting.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ meeting.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ meeting.description }}</td>
            </tr>
            <tr>
            </tr>
            <th> Rating
                <input type="range" id="start" name="volume" value="{{ s2input }}" onChange="updateTextInput(this.value);"
                       min="0" max="10">
                <input type="text" id="textInput" value="">
            </th>
        </tbody>
    </table>

    <a href="{{ path('meeting_index') }}">back to list</a>

    <a href="{{ path('meeting_edit', {'id': meeting.id}) }}">edit</a>

    {{ include('user/meeting/_delete_form.html.twig') }}

<<<<<<< Updated upstream
    <script>
        window.onload = updateTextInput({{ s2input }});

        function updateTextInput(val) {
            document.getElementById('textInput').value=val;
        }
    </script>

=======
    </div>
>>>>>>> Stashed changes
{% endblock %}
