{% extends 'base.html.twig' %}

{% block title %}Hello AdminUserController!{% endblock %}

{% block body %}
    <section id="intro">
        <div class="intro-container wow fadeIn">
            <h1 class="mb-4 pb-0">liste <br><span>users</span></h1>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>List users</h2>
                    <table>
                        {% for User in allUsers %}
                        <tr>
                            <td>email</td>
                            <td>pseudo</td>
                            <td>prenom</td>
                            <td>nom</td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>{{ User.email }}</td>
                            <td>{{ User.username }}</td>
                            <td>{{ User.lastname }}</td>
                            <td>{{ User.firstname }}</td>
                            <td><a href="{{ path('admin_user_updateUser',{'id' : User.id }) }}">editer</a> </td>
                            <td><a href="{{ path('admin_user_removeUser',{'id' : User.id }) }}">supprimer</a> </td>
                        </tr>
                    </table>
                    {% endfor %}
                </div>
                <div class="col-lg-3">


                    {{ knp_pagination_render(allUsers) }}

                </div>
            </div>
        </div>
    </section>
{% endblock %}
