{% extends 'base.html.twig' %}

{% block title %}Login {% endblock %}


{% block body %}

    <section id="intro">
        <div class="intro-container wow fadeIn ">
            {{ form_start(form)  }}
            {{ form_row(form.email, {label_attr: {class: 'form-group form-control'} }) }}
            {{ form_row(form.password, {label_attr: {class: 'rform-group form-control'} }) }}
            {{ form_row(form.submit,{label_attr: {class: 'form-check-label'} }) }}
            {{ form_end(form) }}
        </div>
    </section>

{% endblock %}